.pageBody {
  background-color: rgb(226, 215, 202);
  width: 100%;
  height: 506px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.headText {
  font-size: 26px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 20px;
}

.bodyText {
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.textRed {
  color: #983b43;
}

.order_method_head_visual {
  position: absolute;
  top: 250px;
}
