.step_2 {
  background-image: url(../component/img/order_method_step2_back.jpg);
  background-position: center;
  display: flex;
  border: 3px solid red;
}

.step_body {
  margin: 0 auto;
  width: 1200px;
  height: 638px;
  border: 3px solid black;
}

.step_text {
  margin-top: 50px;
  float: left;
  border: 3px solid gold;
}

.step_text > p:first-child {
  font-weight: 700;
  font-size: 20px;
  color: #983b43;
}

.step_text > p:nth-child(2) {
  font-weight: 700;
  font-size: 42px;
  color: #222222;
}

.step_text > p:nth-child(3) {
  font-size: 16px;
  color: #666666;
}

.step_img {
  width: 820px;
  float: right;
  border: 3px solid blueviolet;
}

.step_img > li {
  width: 260px;
  height: 239px;
  padding: 28px 0 0;
  margin: 0 20px 20px 0;
  box-sizing: border-box;
  background: #ffffff;
  float: left;
  text-align: center;
}

.teaname {
  font-weight: 700;
  font-size: 18px;
  color: #222222;
}

.teaeng {
  font-size: 14px;
  color: #666666;
  margin: 0 0 15px;
}

.teatext {
  font-size: 16px;
  color: #666666;
}
